Package: test_package
Version: 2009.12.12-1
Provides: supersh // Имя приложения (возможно, виртуальное), регистрируемое в системе в результате установки этого пакета
Maintainer: Oleg Rodzewich <rodzewich.oleg@gmail.com>
Architecture: all
Section: misc // admin, base, comm, contrib, devel, doc, editors, electronics, embedded, games, gnome, graphics, hamradio, interpreters, kde, libs, libdevel, mail, math, misc, net, news, non-free, oldlibs, otherosfs, perl, python, science, shells, sound, tex, text, utils, web, x11
Description: Short.
 Long
 goes here
 .
 New line.
Depends: dpkg, libz (>= 1.2.3), jpeg (= 6b), png (< 2.0)
Pre-Depends: wget (>= 1.0)
Conflicts: crapscript
Recommends: somepackage1 somepackage2
Suggests: supersh-modules // Список пакетов, предлагаемых к установке.
Installed-Size: 3
Priority: optional // extra, optional, standard, important, required (такие пакеты не удаляются вообще!).
