[Desktop Entry]
Version=version
Type=Application
Name=Webstorm
GenericName=Javascript IDE
Exec=/usr/share/webstorm/init/webstorm.sh
Icon=/usr/share/webstorm/bin/webide.png
Terminal=false
Categories=IDE;Javascript;Development;
StartupNotify=true