[Desktop Entry]
Version=9.0
Type=Application
Name=Webstorm
GenericName=JavaScript IDE
Exec=/usr/share/webstorm/bin/webstorm.sh
Icon=/usr/share/webstorm/bin/webide.png
Terminal=false
Categories=IDE;Javascript;Development;
StartupNotify=true